@charset "utf-8";
a {text-decoration:none; font-size:1em;}
a:hover {text-decoration: underline;}
.menu ul li {
	display:block;
	width:100%;
	list-style:none;
	float:left;
	overflow:visibale; 
}

.menu ul li:hover  {
	display:block;
	width:100%;
	background:url(../img/choose.png);
	list-style:none;
	float:left;
	overflow:visibale; 
	text-decoration: none;

}

.menu ul li a {
	text-align:center;
	letter-spacing:3px;
	display:block;
	height:90px; width:100%;
	font-size:1em;
	color:#555555;;
	line-height:90px;
	outline:none;
	text-decoration:none;
}


.menu ul li .active {
	background-image:url(../img/menu_bar2.png);
	float:left;
}

.menu ul li .inactive {
	background-image:url(../img/menu_bar.png);
	float:left;
}
.menu ul li ul {
	display:none; 
	margin-top:-4px;
	margin-bottom:20px; 
}

.menu ul li ul li {
	display:block;
	background:none;
	font-size:12px;
	list-style:circle;
	color:#8f9d4c;
	margin-bottom:0px;margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.menu ul li ul li a {
	background-image: url(menu_bar_on.png);
	font-size:13px;
	line-height:44px;
	height:44px;
	padding-left:15px;
	width:235px; 
}


#infobg{
	height:100%;
	float:left;
	position:relative;
	overflow:hidden;
	min-width:1000px;
	}
#infobg_compare{
	height:100%;
	float:left;
	position:relative;
	overflow:hidden;
	min-width:1040px;
	}
	
#chart1{
	float:left;
	width:80%; 
	height:550px;
	font-size:13px;
	margin:10px 0 0 30px;
	border:1px solid #CCC;
	border-radius:3px;
	min-width:1000px;
	}
#chart_compare{
	float:left;
	width:1040px;
	height:550px;
	font-size:13px;
	margin:10px 0 0 30px;
	border:1px solid #CCC;
	border-radius:3px;
	min-width:1000px;
	}


#jqChart{
	width:900px;
	height:350px;
	float:left;
	margin:15px 0 0 30px;;
	}		
#chooseBar{
	width:100%; 
	background:#f8f8f8;
	height:33px; 
	line-height:22px; 
	border-bottom:1px solid #efefef;	
	}
.menufont{
	margin-top:-39px; 
	font-size:14px; 
	font-weight:bold;
	color:#fff;
	font-family: "Arial", Microsoft YaHei,"微软雅黑",Arial,Helvetica,Geneva,sans-serif;
	text-decoration: none;
	}
	
	
	
/*诱导发布模块的sidebar#######################################################################*/
.inre_menu ul li {
	display:block;
	width:100%;
	list-style:none;
	float:left;
	overflow:visibale; 
}

.inre_menu ul li:hover  {
	display:block;
	width:100%;
	background-color:#6CC;
	list-style:none;
	float:left;
	overflow:visibale; 
	text-decoration: none;

}

.inre_menu ul li a {
	text-align:center;
	letter-spacing:3px;
	display:block;
	height:90px; width:100%;
	font-size:1em;
	color:#555555;;
	line-height:90px;
	outline:none;
	text-decoration:none;
}

.inre_menu ul li a img{
	margin-top:3px;
	width:65%;
	}

.inre_menu ul li .active {
	background-image:url(../img/menu_bar2.png);
	float:left;
}

.inre_menu ul li .inactive {
	background-image:url(../img/menu_bar.png);
	float:left;
}
